{% comment %} {% extends 'base.html' %} 
{% load static %} 

{% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/beverages/beverage-index.css' %}"
/>
{% endblock %}

{% block content %}
<div class="bev-list-container">
<section>
  <h1 class="bev-list-title">All Beverages</h1>
  <img src="" alt="">
</section>

<section class="bev-card-container">
  {% for beverage in beverage_list %}
  <div class="bev-card">
    <a href="{% url 'beverages_detail' beverage.id %}">
      <h2>{{ beverage.name }}</h2>
      <h3>{{ beverage.dankness }}</h3>
    </a>
  </div>
    {% endfor %}
</section>
</div>
{% endblock %} {% endcomment %}