{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
<div class="about-container">
  <h1>About r8 or h8</h1>
  <h3>"You show up to a bar.</h3>
  <h3>The bartender ignores you for at least 5 mins.</h3>
  <h3>Then eventually a weakly poured mixed drink is poured for you...</h3>
  <h3>Oh, wow there isnt a pool table either"</h3>
  {% comment %} <h2>"The fear of showing up to a bar and it sucks big time"</h2> {% endcomment %}
  <div class="ceo-container">
    <h3>Founder, CEO</h3>
    <img src="{% static 'images/coco-background.jpg' %}" alt="" class="ceo-img">
    <h3>"Meow, meow, meow, meow meow!"</h3>
  </div>
</div>
<footer>
<img src="{% static 'images/drinksonwall.svg' %}" alt="" class="drinks-img">
<img src="{% static 'images/drinksonwall.svg' %}" alt="" class="drinks-img">
<img src="{% static 'images/drinksonwall.svg' %}" alt="" class="drinks-img">
</footer>
{% comment %} <div class="drinks-container">

</div> {% endcomment %}
{% endblock %}