{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link 
    rel="shortcut icon" 
    type="image/png"
    href="{% static 'images/tastybeer.svg' %}"
  >
  <title>r8 or h8</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  {% block head %}
  {% endblock %}
</head>
<body>
  <nav>
    <div class="logo-container">
      <a href="/">
        <img class="logo-img" src="{% static 'images/beerinniceglass.svg' %}" alt="A beer in a nice glass">
      </a>
    </div>
    <li><a href="/bars">All Bars</a></li>
    <li><a href="/about">About</a></li>
  </nav>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>