{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div class="title-login-container">
  <section class="title-container">
    <div class="motto-container">
      <h1 class"motto">
        <span class="motto-word motto-word-1">RATE</span>
        <span class="motto-word motto-word-2">or</span>
        <span class="motto-word motto-word-3">HATE</span>
        <span class="motto-word motto-word-4">on</span>
        <span class="motto-word motto-word-5">some</span>
        <span class="motto-word motto-word-6">bars</span>
      </h1>
    </div>
  </section>
  {% if not user.is_authenticated %}
  <section class="login">
    <div class="martini-container">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
    </div>
    <form action="{% url 'home' %}" method="post" class="login">
      <h1>Login</h1>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="hidden" name="next" value="{{ next }}">
      <button type="submit" class="login-btn">Login</button>
    </form>
    <div class="martini-container">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
      <img src="{% static 'images/martiniglass.svg' %}" alt="" class="martini-img">
    </div>
  </section>
</div>
{% endif %}
{% endblock %}