.add-bar-title {
  text-align: center;
  font-size: larger;
}

.signup-page-header {
  text-align: center;
}


.form-container {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  font-size: 10px;
}

table {
  padding: 0 40px;
  width: 75%;
  border-spacing: 0 20px;
}


td>* {
  width: 60%;
  padding: 2px 4px;
  font-size: larger;
}


.add-bar-btn {
  margin: 0 auto;
  padding: 5px 10px;
  background-color: #9b5de5;
  color: #fff;
}

.add-bar-btn:hover {
  background-color: #fff;
  color: #9b5de5;
}

.signup-btn {
  padding: 5px 10px;
}

.add-bar-container {
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
