{% extends 'base.html' %}
{% load static %}

{% block head %}
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bars/bar-detail.css' %}"
/>
<script defer src="{% static 'js/bar-detail.js' %}"></script>
{% endblock %}

{% block content %}

<section class="bar-container">
  <div>
    <img src="" alt="">
  </div>
  <div>
    <h1>{{ bar.name }}</h1>
    <h2>{{ bar.description }} located in {{ bar.area }}</h2>
    <div>
      <a href="{% url 'bars_update' bar.id %}">Edit</a>
      <a href="{% url 'bars_delete' bar.id %}">Delete</a>
    </div>
  </div>
</section>
<div>
  <section>
    <div>
      <h2>Ratings</h2>
    </div>
    <h3>Add a Rating</h3>
    <form action="" method="post">
      {% csrf_token %}
      {{ rating_form.as_p }}
      <button type="submit">Add Rating</button>
    </form>
    <h3>Previous Ratings</h3>
    <table>
      <thead>
        <tr><th>Date</th><th>Rate</th><th>Description</th></tr>
      </thead>
      <tbody>
        {% for rating in bar.rating_set.all %}
          <tr>
            <td>{{rating.date}}</td>
            <td>{{rating.get_rate_display}}</td>
            <td>{{rating.description}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}