{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/mcdp.css' %}">
<script 
  src="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.js"
>
</script>
<link 
  href="https://cdn.jsdelivr.net/npm/mc-datepicker/dist/mc-calendar.min.css" 
  rel="stylesheet" 
/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bars/bar-detail.css' %}"
/>
<script defer src="{% static 'js/bar-detail.js' %}"></script>
{% endblock %}

{% block content %}

<div class="detail-pg-container">
  <div class="bar-details">
    <h1 class="bar-name">{{ bar.name }}</h1>
    <h2>{{ bar.description }} Located in {{ bar.area }}</h2>
      <a href="{% url 'bars_update' bar.id %}">Edit</a>
      <a href="{% url 'bars_delete' bar.id %}">Delete</a>
  </div>
  <div class="ratings-container">
    <h3 class="add-rating-title">Add a Rating</h3>
    <form action="{% url 'add_rating' bar.id %}" method="post">
      {% csrf_token %}
      {{ rating_form.as_p }}
      <button type="submit">Add Rating</button>
    </form>
    <h3 class="prev-rating-title">Previous Ratings</h3>
      {% if bar.rating_set.all.count %}
        <table>
          <thead>
          <tr><th>Date</th><th>Rate</th><th>Description</th></tr>
        </thead>
        <tbody>
          {% for rating in bar.rating_set.all %}
            <tr>
              <td>{{rating.date}}</td>
              <td>{{rating.get_rate_display}}</td>
              <td>{{rating.description}}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      {% else %}
        <p>{{ bar.name }} has not been reviewed yet. Be the first!</p>
      {% endif %}
  </div>
</div>
{% endblock %}