{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bars/bar-index.css' %}">
{% endblock %}

{% block content %}

<section class="list-title-container">
  <h1 class="list-title">Bars to r8 or h8 on!</h1>
</section>

<section class="card-container">
  {% for bar in bars %}
  <div class="card">
    <a href="{% url 'bars_detail' bar.id %}">
      <div class="card-content">
        <div class="card-img-container">
          <img src="{% static 'images/beertoast.svg' %}" alt="">
        </div>
        <h2 class="card-title">{{ bar.name }}</h2>
        <p>{{ bar.description }} located in {{ bar.area }}.</p>
      </div>
    </a>
  </div>
  {% endfor %}
</section>

{% endblock %}