{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bars/bar-index.css' %}">
{% endblock %}

{% block content %}
<div class="bar-index">
  <section class="list-title-container">
    <h1 class="list-title">Rate or Hate</h1>
  </section>

  <section class="card-container">
    {% for bar in bars %}
    <div class="card">
      <a href="{% url 'bars_detail' bar.id %}">
        <div class="card-content">
          <img src="{% static 'images/beertoast.svg' %}" alt="">
          <h2 class="card-title">{{ bar.name }}</h2>
          <p>{{ bar.description }} located in {{ bar.area }}.</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
</div>
{% endblock %}