{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bars/bar-index.css' %}">
{% endblock %}

{% block content %}
<h1 class="list-title">Rate or Hate</h1>
  <section class="card-container">
    {% for bar in bars %}
    <div class="bar-card">
      <a href="{% url 'bars_detail' bar.id %}">
        <div class="card-details">
          <div class="bar-img-container">
            <img src="{% static 'images/beertoast.svg' %}" alt="" class="bar-card-img">
          </div>
          <h2 class="card-title">{{ bar.name }}</h2>
          <p>{{ bar.description }} located in {{ bar.area }}.</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </section>
{% endblock %}