
.detail-pg-container {
  display: flex;
  flex-direction: column;
}

.bar-details {
  background: #00bbf9;
  text-align: center;
  color: #fff;
  padding: 10px;
}

.bar-details > a {
  text-decoration: none;
  color: #fff;
  margin: 3px;
}

.ratings-container {
  padding: 10px;
  text-align: center;
  flex: 1 1 50%;
}


.ratings-bev-container {
  background: #9b5de5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bev-container {
  padding: 10px;
  flex: 1 1 50%;
  text-align: center;
}

.bev-container > a {
  text-decoration: none;
}

h2, h3, p, th, td, a {
  font-size: large;
}
