
.bar-index {
  background-image: url(../../)
}

.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  width: 250px;
  margin: 15px;
  
}


/* cards need to stretch to be same size */
.card-content {
  padding: 12px;
  width: 100%;
  border: solid 4px #00bbf9;
  background-color: #fee440;
  border-radius: 20px;
}


.card > a {
  text-decoration: none;
  color: black;
}

.card h2 {
  margin: 10px 0;
  font-size: large;
}

.card p {
  margin: 5px 0;
  font-size: small;
}

.list-title-container {
  display: flex;
  justify-content: center;
}

.list-title {
  font-size: 60px;
  text-align: center;
  border-bottom: dotted #fee440 10px;
  width: 20%;
}

