
.detail-pg-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to right top, #ffffff, #ffedff, #ffd5de, #ffd08e, #fee440);
}

.bar-details {
  background: #00f5d4;
  color: #fff;
  padding: 8px;
  border-top: dotted #fee440 10px;
  border-bottom: dotted #fee440 10px;
}

.bar-details > a {
  text-decoration: none;
  color: #fff;
  margin: 6px;
  padding: 5px;
  background-color: #9b5de5;
  border-radius: 10px;
}

.bar-details > a:hover {
  background-color: #fff;
  color: #9b5de5;
}

.ratings-container {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



h1, h2, h3, p, th, td, a {
  font-size: large;
}


.rating-title {
  font-size: x-large;
}

.bar-name {
  font-size: 40px;
  font-weight: 900;
  font-family: 'Roboto Slab';
  margin: 0;
}

.add-rating-title {
  border-bottom: solid 3px #9b5de5;
  margin: 0 auto;
}

.prev-rating-title {
  border-bottom: solid 3px #9b5de5;
  margin: 0 auto;
}

