
.card-container {
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  margin: 15px;
  background-color: #fee440;
}

.card-content {
  padding: 12px;
  width: 100%;
}


.card > a {
  text-decoration: none;
  color: black;
}

.card h2 {
  margin: 10px 0;
  font-size: large;
}

.card p {
  margin: 5px 0;
  font-size: small;
}

.list-title-container {
  display: flex;
  justify-content: center;
}

.list-title {
  font-size: x-large;
  text-align: center;
  border-bottom: dotted #00f5d4 4px;
  width: 20%;
}