/* .bev-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fee440;
  width: 40%;
  padding: 10px;
  font-size: x-large;
  margin: 20px auto;
}

.bev-details-btns {
  display: flex;
  flex-direction: row;
}
.bev-details-btns > a {
  text-decoration: none;
  background: #fff;
  padding: 8px 10px;
  margin: 5px;
  color: #00bbf9;
}

.bev-name {
  border-bottom: solid 4px #00bbf9;
}
 */
